:root {
  --shadow-xs: 0 1px 2px rgb(16 40 32 / 3%);
  --shadow-sm: 0 2px 5px rgb(16 40 32 / 3%);
  --shadow-md: 0 4px 16px rgb(16 40 32 / 5%);
  --shadow-lg: 0 12px 32px rgb(16 40 32 / 8%);
  --shadow-xl: 0 24px 64px rgb(16 40 32 / 14%);
  --shadow-primary: 0 2px 4px var(--color-primary-shadow);
  --shadow-primary-hover: 0 4px 12px var(--color-primary-shadow);
}
